body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

    /* header-start */

.header {
    max-width: 1440px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.upper-header {
    border-bottom: 3px solid #62c8ca;
}

.logo {
    padding: 10px 0;
}

.upper-header-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

@media (max-width: 1024px) {
    .upper-header-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;        
    }
}

.header-time {
    color: #7d7475;
    position: relative;  
}

.header-time::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: -45%;
    top: -25%;
    background: url(/Travel/images/svg/time.svg) center no-repeat;
    background-size: contain;
    filter: invert(97%) sepia(25%) saturate(6061%) hue-rotate(157deg) brightness(92%) contrast(92%);
}

.header-phone {
    color: #7d7475;
    position: relative;  
    text-decoration: none;
    transition: .3s;
}

.header-phone:hover {
    color: #62c8ca;
}

.header-phone::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: -30%;
    top: -25%;
    background: url(/Travel/images/svg/tel.svg) center no-repeat;
    background-size: contain;
    filter: invert(97%) sepia(25%) saturate(6061%) hue-rotate(157deg) brightness(92%) contrast(92%);
}

.header-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-search {
    border: 2px solid #a0e7eb;
    margin-right: 5%;
    color: #7d7475;
    padding-left: 10px;
}

.input-search::placeholder {
    color: #7d7475;
}

.btn-search {
    background-color: transparent;
    border: none;
    display: block;
    width: 40px;
    height: 40px;
    background: url(/Travel/images/svg/search.svg) center no-repeat;
    background-size: contain;
    filter: invert(97%) sepia(25%) saturate(6061%) hue-rotate(157deg) brightness(92%) contrast(92%);
    transition: .3s;
}

.btn-search:hover {
    transform: scale(1.3);
    cursor: pointer;
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
}

.header-nav {
    background-color: #002F30;
}

.header-nav-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 1024px) {
    .header-nav-ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;        
    }
}

.header-nav-item {
    margin: 15px;
}

.header-nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: .3s;
}

.header-nav-link:hover {
    color: #FF9D00;
}

    /* header-end */

    /* main-start */

.main {
    max-width: 1440px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.main-video-item {
    display: block;
    width: 100%;
    border: none;
}

.main-sections {
  display: flex;
  flex-direction: column;  
}

.main-section {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

        /* about-company-start */   

.main-heading {
    text-align: center;
    padding: 30px 0; 
    font-size: 2rem;
}

.section-about-company {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 620px));
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.image-about-company {
    max-height: 370px;
    padding: 20px;
}

.right-about-company {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 620px;
    height: 100%;
}

.title-about-company {
    font-size: 1.7rem;
    padding: 30px 0 20px 0;
    letter-spacing: 2px;
    text-align: center;
}

.group-bts-company {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

@media (max-width: 1024px) {
    .group-bts-company {
    justify-content: center;
    } 
}

.btn-about-company {
    background-color: transparent;
    border: 1px solid #cacaca;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}

.btn-about-company:hover {
    color: #fff;
    background-color: #339a99;
}

.description-about-company {
    text-align: justify;
    margin-bottom: 20px;
    padding: 20px;
}

.btn-main {
    padding: 20px;
    color: #fff;
    background-color: #339a99; 
    border: none;
    transition: 0.5s;
}

.btn-main:hover {
    color: #FF9D00;
    cursor: pointer;
    background-color: #002F30;
}

        /* about-company-end */

        /* gallery-start */

.gallery-of-tours {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-item {
    position: relative;
    margin-bottom: 40px;
}

.gallery-image {
    max-width: 350px;
    border: 10px solid #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.image-name {
    position: absolute;
    left: 50%;
    top: 65%;
    transform:translate(-50%, -65%);
    z-index: 5;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}
        /* gallery-end */

        /* hot-tour-start */  
.hot-tours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hot-tour {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
}

.hot-tour:first-child {
    margin-bottom: 40px;
}

.hot-tour:last-child {
    margin-bottom: 10px;
}

.hot-tour-image {
    max-width: 620px;
    width: 100%;
    height: 100%;
}

.hot-tour-image img {
    width: 100%;
    max-height: 380px;
    height: 100%;
    object-fit: cover; 
}

.hot-tour-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 620px;
    padding: 40px;
}

.hot-tour-name {
    margin-bottom: 20px;
    font-weight: 400;
}

.stars {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.star-left {
    content: "";
    position: relative;
    width: 15px;
    height: 30px;
    background: url(/Travel/images/svg/star-left.svg) center no-repeat;
    background-size: contain;
    filter: invert(86%) sepia(19%) saturate(212%) hue-rotate(347deg) brightness(83%) contrast(84%);
}

.star-right {
    content: "";
    position: relative;
    width: 15px;
    height: 30px;
    background: url(/Travel/images/svg/star-right.svg) center no-repeat;
    background-size: contain;
    margin-right: 10px;
    filter: invert(86%) sepia(19%) saturate(212%) hue-rotate(347deg) brightness(83%) contrast(84%);
}

.star-right:last-child {
    margin-right: 0;
}

.star-checked {
    filter: invert(84%) sepia(48%) saturate(1098%) hue-rotate(350deg) brightness(95%) contrast(114%);
}

.feedback{
    margin-bottom: 20px;
}

.feedback span {
    color: #8d8884;
}

.hot-tour-description {
    color: #8d8884;
    margin-bottom: 15px;
}

.btn-tour {
    padding: 15px;
}
        /* hot-tour-end */    

        /* our-team-start */
.players {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.player {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 30px 40px;
    margin: 10px;
}

@media (max-width: 1024px) {
    .player {
    margin-bottom: 20px;
    } 
}

.player p:nth-child(n) {
    margin-bottom: 10px;
}

.player-photo {
    height: 118px;
    width: 118px;
    margin-bottom: 10px;
}

.number-one {
    background: url(/Travel/images/user1.jpg) center no-repeat;
    background-size: contain;
}

.number-two {
    background: url(/Travel/images/user2.jpg) center no-repeat;
    background-size: contain;
}

.number-three {
    background: url(/Travel/images/user3.jpg) center no-repeat;
    background-size: contain;
}

.number-four {
    background: url(/Travel/images/user4.jpg) center no-repeat;
    background-size: contain;
}

.player a {
    color: #000;
    text-decoration: none;
}
        /* our-team-end */

        /* map-start */
.contact {
    margin-bottom: 20px;
}

#map {
    height: 500px;
}

@media (max-width: 1024px) {
    #map {
    height: 400px;
    } 
}
        /* map-end */

        /* send-message-form-start */

.send-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.send-message-form {
    max-width: 600px;
    width: 100%;
}

.form-menu li {
    margin-bottom: 15px;
}

.form-menu li:last-child {
    margin-bottom: 0;
}

.form-menu input, textarea {
    width: 100%;
    height: 60px;
    border: 2px solid #7d7475;
    padding: 20px;
    color: #7d7475;
}

.form-item textarea {
    height: 240px;
}

.form-menu .submit-message {
    background-color: #339a99;
    color: #fff;
    border: none;
    transition: 0.5s;
}

.form-menu .submit-message:hover {
    color: #FF9D00;
    cursor: pointer;
    background-color: #002F30;
}

.form-item input::placeholder, textarea::placeholder {
    color: #7d7475;
}

@media (max-width: 1024px) {
    .send-message {
    margin: 0 20px;
    margin-bottom: 50px;
    } 
}

        /* send-message-form-end */

    /* main-end */

    /* footer-start */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #002F30;
    color: #fff;
    padding: 20px 0;
    padding-top: 30px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.footer div {
    width: 305px;
}

.footer-heading {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer-contact {
    margin-bottom: 20px;
    padding-left: 40px;
}

/* icons-start */
.icon-tel {
    color: #7d7475;
    position: relative;  
    text-decoration: none;
    transition: .3s;
}

.icon-tel::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: -20%;
    background: url(/Travel/images/svg/tel.svg) center no-repeat;
    background-size: contain;
    filter: invert(97%) sepia(25%) saturate(6061%) hue-rotate(157deg) brightness(92%) contrast(92%);
}

.icon-mail {
    color: #7d7475;
    position: relative;  
    text-decoration: none;
    transition: .3s;
}

.icon-mail::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: -20%;
    background: url(/Travel/images/svg/email.svg) center no-repeat;
    background-size: contain;
    filter: invert(97%) sepia(25%) saturate(6061%) hue-rotate(157deg) brightness(92%) contrast(92%);
}

.icon-near-me {
    color: #7d7475;
    position: relative;  
    text-decoration: none;
    transition: .3s;
}

.icon-near-me::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: -20%;
    background: url(/Travel/images/svg/near_me.svg) center no-repeat;
    background-size: contain;
    filter: invert(97%) sepia(25%) saturate(6061%) hue-rotate(157deg) brightness(92%) contrast(92%);
}

/* icons-end */

.footer-contact address {
    font-style: normal;
    color: #fff;
}

.footer-contact:last-child {
    margin-bottom: 0;
}

.footer-contact a {
    color: #fff;
    text-decoration: none;
    transition: .5s;
}

.footer-contact a:hover {
    color: #FF9D00;;
}

.footer-section-middle {
    padding-left: 5%;
}

.footer-nav-item {
    margin-bottom: 10px;
}

.footer-nav-item:last-child {
    margin-bottom: 0;
}

.footer-nav-item-link {
    color: #fff;
    text-decoration: none;
    transition: .5s;
}

.footer-nav-item-link:hover {
    color: #FF9D00;
}

.footer-section-right {
    margin-top: 30px;
}

.btn-footer {
    padding: 15px 25px;
    margin-bottom: 40px;
}

.btn-footer {
    border: 1px solid #339a99;
}

@media (max-width: 1024px) {
    .footer div {
        padding: 20px;
    }
    .footer .footer-section-middle {
        padding-left: 8%;
    }    
}
@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
    }
    .footer .footer-section-middle {
        padding-left: 20px;
    }    
}

    /* footer-end */